.portfolio-page{
    font-family: 'Coolvetica';
    .text-zone{
        position: absolute;
        left: 13%;
        top: 20%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        // overflow: auto;

        h1{
            font-size: 5em;
            color: #ffd700;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;

            &::before{
                content: '<h1>';
                position: absolute;
                top: -20px;
                left: -10px;
                font-size: 16px;
                color: #ffd700;
                font-family: 'La Belle Aurore';
                opacity: 0.6;                 
            }
            &::after{
                content: '</h1>';
                position: absolute;
                left: -10px;
                bottom: -20px;
                font-size: 16px;
                color: #ffd700;
                font-family: 'La Belle Aurore';
                // animation: fadeIn 1s 1.5s both;
                opacity: 0.6;          
            }            
        }
        .text-animate-hover{
            &:hover{
                color: #fff;
            }
        
        }
    }
}

.images-container{
    height: 30vh;
    width: 100%;
    display: flex;
    .image-box{
        max-height: 100%;
        img{
            max-height: 100%;
            width: auto;
        object-fit: contain;

        }
    }
    
}