.page{
    height: 100%;
    width: 100%;
    position: absolute;

    .top-tags{
        bottom: auto;
        top: 35px;
    }

    .tags{
        color: #ffd700;
       opacity: 0.6;
       position: absolute;
       bottom: 0;
       left: 120px;
       font-size: 18px;
       font-family: 'La belle Aurore';
    }

    .bottom-html-tag{
        margin-left: -20px;
    }

    .container{
        width: 100%;
        will-change: contents;
        height: 90%;
        min-height: 566px;
        position: absolute;
        opacity: 0;
        top: 5%;
        margin: 0 auto;
        z-index: 1;
        transform-style: preserve-3d;
        animation: fadeIn 1s forwards;
        animation-delay: 0.5s;
    }

    
}

@media screen and (max-width:500px){
    .page{
        position: initial;
    }

    .container{
        position: initial;
        height: auto;
        min-height: auto;
      


        &.about-page,
        &.contact-page,
        &.portfolio-page{
            .text-zone{
                position: initial;
                transform: none;
                width: 100%;
                display: block;
                padding: 20px;
                box-sizing: border-box;
                margin-top: 25px;

                h1{
                    &::before,
                    &::after{
                        display: none;
                    }
                }

            }
        }
    }

    .tags,
    .top-tags{
        display: none;
    }

   
}